<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background: url("/static/homeback3.jpeg");
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
</head>

<body>
    <div   style="text-align: center">
        <h1 style="color: #000000">欢迎 {{username}} 使用接口测试平台</h1><br><br>
        <div style="border: 1px solid black;border-radius: 10px 10px 10px 10px;text-align: center;background-color: rgba(215,215,215,0.3);color: white;margin-left: 250px;margin-right: 250px">
            <h3 style="color: #4c0831">欢迎使用传送门：</h3>
            <strong>
                {% for i in hrefs %}
                    <a href="{{ i.href }}" target="_blank" CLASS="a2">{{ i.name }}</a>&nbsp;&nbsp;&nbsp;
                {% endfor %}
            </strong><br><br>
        </div>
        <br>
        <div style="border: 1px solid black;border-radius: 10px 10px 10px 10px;text-align: center;background-color: rgba(215,215,215,0.3);color: white;margin-left: 250px;margin-right: 250px">
            <h3 style="color: #4c0831">您的项目：</h3>
            <span style="color: black">

            </span><br>
        </div><br>

        <div style="border: 1px solid black;border-radius: 10px 10px 10px 10px;text-align: center;background-color: rgba(215,215,215,0.3);color: white;margin-left: 250px;margin-right: 250px">
            <h3 style="color: #4c0831">最新消息：</h3>
            <span style="color: #000000">
                帮助页面上线；<br>
                后台开启，仅限有管理权限同学使用；<br>
                项目列表上线，您现在可以进入所有项目内了 <br>
            </span><br>
        </div><br>

        <div style="border: 1px solid black;border-radius: 10px 10px 10px 10px;text-align: center;background-color: rgba(215,215,215,0.3);color: white;margin-left: 250px;margin-right: 250px"><br>
            <textarea id="tucao_input" cols="50" rows="10" style="border-radius: 5px;color: black;padding-left: 10px;box-shadow: 4px 4px 9px grey" placeholder="匿名吐槽专用，点击 呸 按钮即可怒喷开发者！"></textarea><br>
            <button style="border-radius: 0px 0px 50px 50px;width: 100px;color: black" onclick="pei()">呸！</button><br><br>
        </div>
        <br>

    <script>
        function pei() {
            $.get("/pei/",{
                "tucao_text":document.getElementById('tucao_input').value,
                    },function (ret) {
                        alert('已吐槽成功！')
                    })
        }
    </script>

</body>
</html>
