<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目列表</title>
</head>
<body>
<br><br>
<h3 style="padding-left: 10%;color: black">项目列表：<span style="font-size: small;color: black;">（这里显示全部项目,您可以进入他人的项目中查看）</span><button onclick="javascript:document.getElementById('add_project_div').style.display='block'" class="btn btn-info" style="position: relative;left: -webkit-calc(52%)">新增项目</button></h3>
    <table class="table table-bordered" style="color: black;background-color: white;opacity: 0.8;width: 80%;margin-left: 10%">
        <thead style="text-align: center">
            <tr>
                <th>项目编号</th><th>项目名称</th><th>创建人</th><th>备注</th><th>操作</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            {% for i in projects %}
            <tr>
                <td>{{ i.id }}</td><td>{{ i.name }}</td><td>{{ i.user }}</td><td>{{ i.remark }}</td><td><button onclick="javascript:document.location.href='/apis/{{ i.id }}/'" class="btn-gradient green small">进入</button>&nbsp;&nbsp;<button onclick="delete_project('{{ i.id }}')" class="btn-gradient red small">删除</button></td>
            </tr>
            {% endfor %}

            </tr>

        </tbody>
    </table>

<script>
    function delete_project(id) {
        if(confirm("您确定要删除该项目吗？") == false){return}
        $.get('/delete_project/',{
            'id':id
        },function (ret) {
            document.location.reload()
        })
    }
</script>

<div id = "add_project_div" style="width: 50%;background-color: white;border: 1px solid black;
            position: absolute;left: 25%;top: 140px;padding-left: 10px;
            box-shadow: 4px 4px 8px grey;border-radius: 5px;text-align: center;display: none">
    <h3>新增项目</h3><br>
    项目名称：
    <input  id="project_name" type="text" placeholder="请输入" style="width: 80%"><br><br>
    参&nbsp;&nbsp;与&nbsp;&nbsp;人：
    <input  id="project_otheruser" type="text" placeholder="请输入" style="width: 80%"><br><br>
    <span style="position: relative;top: -51px">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</span>
    <textarea id="project_remark" cols="30" rows="3" placeholder="请输入" style="width: 80%"></textarea><br><br>
    <button onclick="javascript:document.getElementById('add_project_div').style.display='none'" class="btn-gradient red small">取消</button>
    <button onclick="add_project()" class="btn-gradient green small">确定</button><br><br>
</div>

<script>
    function add_project() {
        project_name = document.getElementById('project_name').value;
        project_otheruser = document.getElementById('project_otheruser').value;
        project_remark = document.getElementById('project_remark').value;
        $.get('/add_project/',{
            'project_name':project_name,
            'project_otheruser':project_otheruser,
            'project_remark':project_remark
        },function (ret) {
            document.location.reload()
        })

    }
</script>
</body>
</html>
